<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 진동 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 저장 파일에 접근하기 위한 퍼미션 설정 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Teamnova_android_two"
        tools:targetApi="33">
        <activity
            android:name=".test_activity"
            android:exported="false" />
        <activity
            android:name=".confirm_nick"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".confirm_id"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".sign_up"
            android:exported="false"
            android:theme="@style/Theme.MyDialog" />

        <receiver
            android:name=".alarm"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".mulung_helper_scedule"
            android:exported="false"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".seed_helper_49"
            android:exported="false" />
        <activity
            android:name=".seed_helper_48"
            android:exported="false" />
        <activity
            android:name=".seed_helper_47"
            android:exported="false" />
        <activity
            android:name=".seed_helper_39"
            android:exported="false" />
        <activity
            android:name=".seed_helper_36"
            android:exported="false" />
        <activity
            android:name=".seed_helper_24"
            android:exported="false" />
        <activity
            android:name=".seed_helper_23"
            android:exported="false" />
        <activity
            android:name=".mulung_helper"
            android:exported="false" />
        <activity
            android:name=".seed_helper"
            android:exported="false" />
        <activity
            android:name=".schedule"
            android:exported="false" />
        <activity
            android:name=".timer"
            android:exported="false" />
        <activity
            android:name=".weekly_boss"
            android:exported="false" />
        <activity
            android:name=".weekly_quest"
            android:exported="false" />
        <activity
            android:name=".daily_boss"
            android:exported="false" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".daily_quest"
            android:exported="false" />
        <activity
            android:name=".Main"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>